// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}

:active, :focus{
  outline: none !important;
}

body {
    font-family: 'Palanquin', sans-serif !important;
    font-style: normal;
    font-weight: 400 !important; /* normal */
    color: #333 !important;
    background-color: #fff !important; /* Old browsers */
    font-size: 15px !important;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden !important;
}

h1 , h2 , h3, h4, h5, h6 {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

h1{
    font-family: 'Playfair Display SC', serif;
    font-weight: 400 !important; /* normal */
    line-height: 1.05em;
    color:#E5E5E5 !important;
    letter-spacing: -0.025em;
    margin-top: 0 !important;
}


h2 {
    font-family: "Palanquin", "Trebuchet MS", Helvetica, sans-serif !important;
    line-height:1.5em !important;
    font-weight: 700 !important; /* bold */
    color:rgb(94, 35, 104);
    margin:0 0 0.5em 0 !important;
    padding: 0 0 0.25em 0 !important;
    text-transform: uppercase;
    display: block;
    background-image: url("../static/images/hr_custom.svg");
    background-repeat: repeat-x;
    background-position: 50% 100%;
}


h3  {
font-family: "Playfair Display", "Trebuchet MS", Helvetica, sans-serif !important;
   line-height:1.5em;
   font-weight: 700 !important; /* bold */
   color:#171717;
   padding:0 0 0.25em 0 !important;
   margin: 0 !important;
}

h4  {
    font-family: "Palanquin", "Trebuchet MS", Helvetica, sans-serif !important;
    line-height:1.6em;
    font-weight: 700 !important; /* bold */
    color:#fff;
    width:auto;
    display: inline-block;
    padding: 0.08em 0.5em 0.15em 0.5em !important;
    background-color:rgb(94, 35, 104);
}
