// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// CI COLORS
// *** todo: redudancy in nuxt.js ***
$primary: #5e2368;



// DEVICE RESET
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}

:active, :focus{
  outline: none !important;
}


// STYLING



body {
    font-family: "Palanquin", sans-serif;
    font-style: normal;
    font-weight: 400; 
    color: #333;
    background-color: #fff; 
    font-size: 17px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

h1{
    font-family: 'Playfair Display SC', sans-serif;
    font-weight: 400; 
    font-size:3.3em;
    line-height: 1.05em;
    letter-spacing: -0.025em;
    padding-bottom: 0.25em;
    color:#E5E5E5;
}

h2 {
    font-family: "Palanquin", sans-serif;
    line-height:1.5em;
    font-weight: 700; 
    font-size: 1.5em;
    color:#5e2368;
    text-transform: uppercase;
    display: block;
    padding-bottom:0.25em;
    margin-bottom: 0.5em;
    background-image: url("/images/hr_custom.svg");
    background-repeat: repeat-x;
    background-position: 50% 100%;
}

h3  {
   font-family: "Playfair Display", sans-serif;
   line-height:1.5em;
   font-weight: 700;
   color:#171717;
   padding:0 0 0.25em 0 ;
   margin: 0;
}

h4  {
    font-family: "Palanquin", sans-serif;
    line-height:1.6em;
    font-weight: 700; 
    color:#fff;
    width:auto;
    display: inline-block;
    padding: 0.08em 0.5em 0.15em 0.5em;
    background-color: $primary;
}
